# Cloudflare API Configuration
CLOUDFLARE_ACCOUNT_ID="your_cf_account_id_here"
CLOUDFLARE_API_TOKEN="your_cf_api_token_here"

# DigitalOcean Configuration
DO_PAT="your_digitalocean_personal_access_token_here"

# GitHub Configuration
GITHUB_TOKEN="your_github_classic_pat_here"
GITHUB_USER="your_github_username_here"
GITHUB_REPO="your_github_repo_name_here"

# Affiliate Network APIs
ADMITAD_CLIENT_ID="your_admitad_client_id_here"
ADMITAD_CLIENT_SECRET="your_admitad_client_secret_here"
MYLEAD_API_KEY="your_mylead_api_key_here"
